<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - Drugstore System">
        Drugstore System
    </title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header>
    <h2>Drugstore System</h2>

    <nav>
        <a th:href="@{/}">Inicio</a>
        <a th:href="@{/configurations}">Configuraciones</a>
    </nav>

    <hr>
</header>

<main layout:fragment="content">

</main>

<footer>

    <hr>

    <p>© 2026 Drugstore System</p>

</footer>

</body>
</html>