<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="~{fragments/head :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">

        <div class="app-wrapper">

            <nav th:replace="~{fragments/navbar :: navbar}"></nav>

            <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

            <main layout:fragment="main" class="app-main"></main>

            <footer th:replace="~{fragments/footer :: footer}"></footer>

        </div>

        <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

    </body>

</html>