<form th:action="@{/configurations/save}"
      th:object="${configuration}"
      method="post">

    <input type="hidden" th:field="*{id}">

    <div>
        <label>Nombre</label>
        <input type="text" th:field="*{settingKey}">
    </div>

    <div>
        <label>Contenido</label>
        <textarea th:field="*{settingValue}"></textarea>
    </div>

    <div>
        <label>Descripción</label>
        <input type="text" th:field="*{description}">
    </div>

    <button type="submit">Guardar</button>

</form>