<table>

    <tr>
        <th>ID</th>
        <th>Clave</th>
        <th>Valor</th>
        <th>Descripción</th>
        <th>Acciones</th>
    </tr>

    <tr th:each="c : ${configurations}">

        <td th:text="${c.id}"></td>

        <td th:text="${c.settingKey}"></td>

        <td th:text="${c.settingValue}"></td>

        <td th:text="${c.description}"></td>

        <td>

            <a th:href="@{/configurations/edit/{id}(id=${c.id})}">
                Editar
            </a>

            <a th:href="@{/configurations/delete/{id}(id=${c.id})}">
                Eliminar
            </a>

        </td>

    </tr>

</table>

<a th:href="@{/configurations/new}">
    Nueva Configuración
</a>